/*--------------------------------------------------------------
Website - demo-shop project
Developer -  Abuchi Ogbodo
Author's Website - https://alcatrax.net 
Version - 1.0
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: red;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
  }
  #topbar.topbar-scrolled {
    top: -40px;
  }
  #topbar .contact-info a {
    line-height: 1;
    color: #444444;
    transition: 0.3s;
  }
  #topbar .contact-info a:hover {
    color: #1977cc;
  }
  #topbar .contact-info i {
    color: #1977cc;
    padding-right: 4px;
    margin-left: 15px;
    line-height: 0;
  }
  #topbar .contact-info i:first-child {
    margin-left: 0;
  }
  #topbar .social-links a {
    color: #437099;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  #topbar .social-links a:hover {
    color: #1977cc;
  }
  #topbar .social-links a:first-child {
    border-left: 0;
  }
  

  /*--------------------------------------------------------------
   Header
  --------------------------------------------------------------*/
  .page-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .page-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .page-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .active{
    font-weight: bold !important;
    color: black !important;
    border-bottom: 2px solid white;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* --------------------------------------------------------------
  Pagination 
  --------------------------------------------------------------*/
  .page-pagination {
    margin-bottom: 4rem;
  }
  .page-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*-------------------------------------------------------------
    page posts
   --------------------------------------------------------------*/
  .page-post {
    margin-bottom: 4rem;
  }
  .page-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .page-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }


  @media (max-width: 767.98px) { 
    .border-sm-start-none { border-left: none !important; }
 }



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body{
   
    margin: 0px;
  }
  
  
  footer .container{
  
  background-color: black;
  margin: 0px auto;
    
  }
    
  
  footer{
    clear: both;
    background-color:black;
    text-align: left;
  
  }
  
  
  footer ul{
    
    background-color: white;
  }
  
  
  footer h1,h2,h3,h4,h5,h6 {
    color: white;
    margin: 10px;
  }
  
  
  footer p{
    font-size: 14px;
    font-family: verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    padding: 5px;    
    padding-top: 15px;
  }
  
  footer a{
    font-size: 16px;
    font-family: verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 10px;
    color: white;
     text-decoration:none;
   
  }
  
  footer a:hover{  
    text-decoration: underline;
    color: navy;
   
  }